* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/background1.jpg);
  background-size: cover;
  font-family: "Aboreto", system-ui;
  position: relative;
  min-height: 90vh;
}
body header {
  text-align: center;
  margin-block: 5rem;
  font-weight: bold;
}
body header h1 {
  font-size: 4rem;
  text-shadow: 1px 3px 5px pink;
}
body header p {
  font-family: "Quicksand", sans-serif;
}

main {
  padding-bottom: 4rem;
}

.inv_opciones {
  font-family: "Aboreto", system-ui;
  display: flex;
  gap: 10rem;
  margin-top: 11rem;
  position: relative;
}
.inv_opciones .inv_opcion {
  color: white;
  font-weight: bold;
  flex: 1;
  border-radius: 1.5rem;
  background-color: hsla(355, 74%, 75%, 0.75);
  font-size: 1.5rem;
  padding: 1.5rem;
  position: relative;
}

.inv_opcion:hover {
  box-shadow: 1px 1px 25px 10px rgba(186, 0, 0, 0.4);
  background-color: #ee7b84;
  animation: btnFocus 1s forwards;
}

@keyframes btnFocus {
  0% {
    letter-spacing: normal;
  }
  100% {
    letter-spacing: 0.5rem;
  }
}
.paraArribaClass {
  box-shadow: 1px 1px 25px 10px rgba(186, 0, 0, 0.4);
  background-color: #ee7b84;
  color: white;
  flex: 1;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  position: relative;
  animation: btnInvClicked 1s forwards;
}

@keyframes btnInvClicked {
  0% {
    text-align: left;
    letter-spacing: 0.5rem;
  }
  100% {
    text-align: center;
    letter-spacing: 0.5rem;
    transform: translateY(-125%);
  }
}
.btnInvisible {
  animation: btnInvisible 1s forwards;
  z-index: -1;
}

@keyframes btnInvisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.iconoVolverInicio {
  background-color: rgba(255, 255, 255, 0.6);
  color: #ee7b84;
  width: 75%;
  border-radius: 1rem;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  z-index: -10;
  animation: iconoVolverInicio 2s infinite;
}

@keyframes iconoVolverInicio {
  0% {
    transform: translate(-50%, 75%);
  }
  50% {
    transform: translate(-50%, 45%);
  }
  100% {
    transform: translate(-50%, 75%);
  }
}
.paraAbajoClass {
  background-color: hsla(355, 74%, 75%, 0.7);
  color: white;
  flex: 1;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  position: relative;
  animation: btnInvClickedBack 0.5s forwards;
}

@keyframes btnInvClickedBack {
  0% {
    text-align: center;
    letter-spacing: 0.5rem;
    transform: translateY(-125%);
    box-shadow: 1px 1px 25px 10px rgba(186, 0, 0, 0.4);
    background-color: #ee7b84;
  }
  100% {
    text-align: left;
    letter-spacing: normal;
    box-shadow: none;
    background-color: hsla(355, 74%, 75%, 0.7);
  }
}
.btnVisible {
  animation: btnVisible 1s forwards;
}

@keyframes btnVisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tablaInventario {
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  text-align: center;
  font-family: "Aboreto", system-ui;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1rem 1rem 2rem black;
}

.inventarioTitulos {
  background-color: #ee7b84;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.tableid {
  width: 10%;
}

.tabletipoPrenda {
  width: 30%;
}

.tabletalla {
  width: 10%;
}

.tablecolor {
  width: 20%;
}

.tableprecio {
  width: 10%;
}

th {
  padding: 0.75rem 0;
}

td {
  padding: 0.5rem 0;
}

.btnBorrar:hover {
  color: red;
  cursor: pointer;
}

.table > :not(caption) > * > * {
  padding: 0;
  text-decoration: none;
}

.table {
  --bs-table-bg: none;
}

.formBuscarInvisible {
  display: none;
}

.formBuscarVisible {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  opacity: 1;
}

.resultadosBusqueda {
  font-family: "Aboreto", system-ui;
}
.resultadosBusqueda .encontrado {
  background-color: hsla(0, 0%, 100%, 0.8);
  margin-bottom: 1rem;
  padding: 4rem;
  border-radius: 1rem;
  max-width: 80%;
  margin: 1rem auto;
  display: flex;
  gap: 4rem;
}
.resultadosBusqueda .encontrado .encontradoImagenDiv {
  flex: 1;
  height: 500px;
  border-radius: 1rem;
  position: relative;
}
.resultadosBusqueda .encontrado .encontradoImagenDiv .encontradoImagen {
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.resultadosBusqueda .encontrado .encontradoText {
  flex: 1;
  font-size: 1.2rem;
}
.resultadosBusqueda .encontrado .encontradoText h3 {
  font-size: 2rem;
  font-weight: bold;
}
.resultadosBusqueda .encontrado .encontradoText p:last-child {
  font-weight: bold;
  color: red;
}

.formRegistroInvisible {
  display: none;
}

.formRegistroVisible {
  background-color: rgba(255, 255, 255, 0.703);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  opacity: 1;
}

.botonesRegistro {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Aboreto", system-ui;
}

.row > * {
  width: 25%;
  padding: 1rem;
  font-size: 1.5rem;
}
.row > * .form-select {
  font-family: "Aboreto", system-ui;
  font-size: 1.5rem;
}
.row > * .input-group-text {
  font-size: 1.5rem;
}

footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
footer p {
  border-bottom: 1px solid red;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 0 1rem;
}/*# sourceMappingURL=main.css.map */