.formRegistroInvisible {
    display: none;    
}
.formRegistroVisible {
    background-color: rgba(255, 255, 255, 0.703);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    opacity: 1;
}
.botonesRegistro {
    display: flex;
    justify-content: space-evenly;  
    margin-top: 1rem; 
    margin-bottom: 1rem;
    font-family: $fontPrincipal;
}
.row>* {
    width: 25%;
    padding: 1rem;
    font-size: 1.5rem;
    .form-select {
        font-family: $fontPrincipal;
        font-size: 1.5rem;
    }
    .input-group-text {
        font-size: 1.5rem;
    }
}
