.tablaInventario {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    text-align: center;
    font-family: $fontPrincipal;
    /* offset-x | offset-y | blur-radius | spread-radius | color */    
    box-shadow: 1rem 1rem 2rem black;
}
.inventarioTitulos{
    background-color: #ee7b84;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.tableid { width: 10%; }
.tabletipoPrenda { width: 30% }
.tabletalla{ width: 10% }
.tablecolor{ width: 20%; }
.tableprecio{ width: 10%; }

th {
    padding: .75rem 0;
}
td {
    padding: 0.5rem 0;
}
.btnBorrar:hover {
    color: red;
    cursor: pointer;
}
.table>:not(caption)>*>* {
    padding: 0;
    text-decoration: none;  // remove decorections from the trash icon
}
.table {
    --bs-table-bg: none; // remove background from the trash icon
}