// $redMain: rgb(181, 41, 41);
// $blackMain: rgba(20, 38, 39, 0.926);
// $fontMain: 'Urbanist', sans-serif;

// $primaryNeon: #22D2A0;
// $secondaryNeon: #192824;
// $background: $blackMain;
// $greenNeon: #1FC11B;
// $yellowNeon: #FFD913;
// $orangeNeon: #FF9C55;
// $redNeon: #FF5555;

// @mixin subtitles {
//     font-weight: 600;
//     font-size: 1.5rem;
//     margin-bottom: 1rem;
// }

// @mixin redArrows {
//     color: $redMain;
//     margin-left: 0.5rem;
//     animation: turnOnRed infinite alternate 1s ;
// }



$fontPrincipal: 'Aboreto', system-ui;
$fontSecundaria: "Quicksand", sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}